<div class="landing page">
  <div class="container">
    <div class="title-container">
      <% if !mobile_view? && @welcome.present? %>
        <div class="lottie title welcome"></div>
      <% else %>
        <h1>Enertime, la cleantech française qui décarbonne l’industrie mondiale</h1>
      <% end %>
    </div>
    <div class="text-container">
      <div class="secondary-text" style="color:green">
        Notre mission : lutter contre le réchauffement climatique en développant des solutions innovantes autour de la thermodynamique pour la production d’énergie sans CO2, l’efficacité énergétique industrielle et l’économie circulaire.
      </div>
  </div>
</div>

<div class="page first">
  <div class="container">
    <div class="scene-container">
      <div class="lottie scene rossatto large welcomesoftware"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Le Club des Actionnaires</span>
      </div>
      <div class="secondary-text">
        <ul>
					<li>Un espace d'échange pour appréhender nos technologies et nos progrès.</li>
					<li>Des privilèges actionnaires exclusifs.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/club" class="btn btn-primary btn-cta">Présentation du Club</a>
    </div>
  </div>
</div>

<div class="page second">
  <div class="container">
    <div class="scene-container">
      <div class="lottie scene rossatto large welcomeservices"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Nos Actualités</span>
      </div>
      <div class="secondary-text">
        <ul>
					<li>Suivez nos actualités</li>
					<li>Venez donner votre avis et posez vos questions</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/news" class="btn btn-primary btn-cta">Consultez nos actualités.</a>
    </div>
  </div>
</div>

<div class="page third">
  <div class="container">
    <div class="scene-container">
      <div class="lottie scene rossatto large welcomemembers"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Notre Profile Financier</span>
      </div>
      <div class="secondary-text">
				Un espace pour mieux appréhender notre opportunité financière, les enjeux de notre industrie et comment nous allons décarboniser le monde.
      </div>
    </div>
    <div class="buttons">
      <a href="/profile" class="btn btn-primary btn-cta">Voir notre profil financier</a>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <div class="scene-container">
      <div class="lottie scene rossatto large welcomemembers"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Ressources</span>
      </div>
      <div class="secondary-text">
				Nos ressources grands publics.
				<ul>
					<li>Des questions et réponses fréquentes.</li>
					<li>Notre glossaire de termes techniques.</li>
					<li>Notre calendrier financier.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/profile" class="btn btn-primary btn-cta">Voir notre profil financier</a>
    </div>
  </div>
</div>
