<div class="landing page">
  <div class="container">
    <div class="title-container">
      <% if !mobile_view? && @welcome.present? %>
        <div class="lottie title welcome"></div>
      <% else %>
        <h1>We Build Communities</h1>
      <% end %>
    </div>
    <div class="text-container">
      <div class="secondary-text">
        We’re a <a href="/who-we-are">coöperative</a> that <a href="/software">builds software</a> and <a href="/services">provides services</a> for online communities.
      </div>
      <ul class="platform-shortlist">
        <li><a href="https://discourse.org" target="_blank" title="Discourse">
          <div class="image discourse"></div>
        </a></li>
        <li><a href="https://wordpress.org" target="_blank" title="Wordpress">
          <div class="image wordpress"></div>
        </a></li>
        <li><a href="https://auth0.com" target="_blank" title="Auth0">
          <div class="image auth0"></div>
        </a></li>
        <li><a href="https://shopify.com" target="_blank" title="Shopify">
          <div class="image shopify"></div>
        </a></li>
        <li><a href="https://discord.com" target="_blank" title="Discord">
          <div class="image discord"></div>
        </a></li>
        <li><a href="/software" class="more">more</a></li>
      </ul>
    </div>
    <%= render partial: "contact_form", locals: { success_message: "Sent. We'll be in touch shortly." } %>
  </div>
</div>

<div class="page first">
  <div class="container">
    <div class="text-container">
      <div class="primary-text">
        <span>Glossary</span>
      </div>
      <div class="secondary-text">
        <ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
      </div>
    </div>
  </div>
</div>


<div class="page contact">
  <div class="container">
    <div class="title-container">
      <h1>Suggest a Term</h1>
    </div>
    <%= render partial: "contact_form" %>
  </div>
</div>
